body {
	background-color: RGB(73, 18, 246);
	font-family: Arial;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type='button'] {
	border: 0px;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	padding: 10px 25px;
	background: linear-gradient(to right, RGB(234, 158, 61) , RGB(238, 125, 56));
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30PX;
	font-weight: normal;
}

.container {
	margin-left: 20px;
    background-color:RGB(73, 18, 246);
}

.header {
	display: flex;
	align-items: center;
    flex-grow: 45;
}



ul {
    list-style-type: none;
    margin: 2px;
    padding: 15;
    display: flex;
    float:right
    
 }
 li {
    border-right: 10px solid #bbbbbb00;
  }
  
  li:last-child {
    border-right: none;
  }


.section1 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

.copy1 {
	flex: 0 0 450px;
	color: RGB(201, 184, 252);
	z-index: 1;
    margin-right: -69px;
    margin-top: 45px;
}
h2 {
  margin-bottom: 0px; 
  color: white;
}

.copy1 h1 {
    flex: 0 0 450px;
	color: rgb(255, 255, 255);
	z-index: 1;
    margin-right: -69px;

}

#button5free {
    margin-top: 40px
    white-space: normal; 
    width: 200px; 
    padding: 10px 50px;
}


.picture1 {
	flex: 0 1 900px;
	z-index: 0;
}

.section2 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0px;
}

.patented {
	flex: 0 1 500px;
	margin-right: 50px;
}

.brainbehavior {
	flex: 0 1 400px;
}